<% breadcrumb :game, @game %>

<p>
  <strong>Game Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @game.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @game.end_date %>
</p>

<p>
  <strong>Venue city:</strong>
  <%= @game.venue_city %>
</p>

<p>
  <strong>Venue stadium:</strong>
  <%= @game.venue_stadium %>
</p>

<p>
  <strong>Videos:</strong>
    <ul>
      <% @game.videos.each do |video| %>
        <li><%= video.title %></li>
      <% end %>
    </ul>
</p>

<p>
  <strong>Teams:</strong>
    <ul>
      <% @game.teams.each do |team| %>
        <li><%= team.name %></li>
      <% end %>
    </ul>
</p>

<%= link_to 'Cancel', stream_sub_season_path(@game.sub_season), class: "button alert" %>
