<% breadcrumb :sports %>

<h3>Listing sports</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Leagues</th>
      <th>Seasons</th>
      <th>SubSeasons</th>
      <th>Games</th>
      <th>Teams</th>
      <th>Event Types</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.name %></td>
        <td><%= sport.description %></td>
        <td><%= sport.leagues.count %></td>
        <td><%= sport.seasons.count %></td>
        <td><%= sport.sub_seasons.count %></td>
        <td><%= sport.games.count %></td>
        <td><%= sport.teams.count %></td>
        <td><%= sport.event_types.count %></td>
        <td><%= link_to 'Show', [:stream, sport] %></td>
        <td><%= link_to 'Edit', edit_stream_sport_path(sport) %></td>
        <td><%= link_to 'Destroy', [:stream, sport], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Sport', new_stream_sport_path, class: "button" %>
