<% breadcrumb :sport, @sport %>

<p>
  <strong>Sport Name:</strong>
  <%= @sport.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sport.description %>
</p>

<p>
  <strong>Leagues:</strong>
  <%= render '/stream/leagues/index_table' %>
</p>

<p>
  <strong>Event Types:</strong>
  <%= render '/stream/event_types/index_table' %>
</p>

<%= link_to 'Cancel', stream_sports_path, class: "button alert" %>
