<!-- BEGIN: Mine zdist_finder -->
<table>
  <thead>
    <tr>
      <td>Detectable Id</td>
      <td>Detectable Name</td>
      <td>Primary Chia Version Zdist</td>
      <td>Secondary Chia Version Zdist</td>
    </tr>
  </thead>
  <tbody>
    <% @mining.md_chia_version_comparer.zdist_threshs_loc.each do |detId, zDist| %>
      <% det = ::Detectable.find(detId.to_i) %>
      <tr>
        <td><%= det.id %></td>
        <td><%= det.name %></td>
        <td><%= zDist %></td>
        <td><%= @mining.md_chia_version_comparer.zdist_threshs_loc[detId] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <td colspan="2">Smart Filter</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Spatial intersection threshold</td>
      <td><%= @mining.md_chia_version_comparer.smart_filter[:spatial_intersection_thresh] %></td>
    </tr>
  </tbody>
</table>
<!-- END: Mine zdist_finder -->
