<!-- BEGIN: Mine zdist_finder -->
<table>
  <thead>
    <tr>
      <th>Pri Detectable</th>
      <th>Pri Detectable Zdist</th>
      <th>Pri Detectable Scales</th>
      <th>Sec Detectable Zdists</th>
      <th>Intersection Threshold</th>
      <th># Localizations</th>
    </tr>
  </thead>
  <tbody>
    <% @mining.md_zdist_differencer.confusion_filters[:filters].each do |f| %>
      <tr>
        <td><%= "#{::Detectable.find(f[:pri_det_id]).pretty_name} [#{f[:pri_det_id]}]" %></td>
        <td><%= f[:selected_filters][:pri_zdist] %></td>
        <td><%= f[:selected_filters][:pri_scales] %></td>
        <td><%= f[:selected_filters][:sec_zdists] %></td>
        <td><%= f[:selected_filters][:int_thresh] %></td>
        <td><%= f[:number_of_localizations] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- END: Mine confusion_finder -->
