<!-- BEGIN: Mine details -->
<table>
  <tbody>
    <tr>
      <td width="20%">Id</td>
      <td><%= @mining.id %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= @mining.mtype %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @mining.name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @mining.description %></td>
    </tr>
    <tr>
      <td>User</td>
      <td><%= @mining.user.email %></td>
    </tr>
    <tr>
      <td>Localization ChiaVersion</td>
      <td><%= "#{@mining.chiaVersionLoc.id} (#{@mining.chiaVersionLoc.name})" %></td>
    </tr>
    <tr>
      <td>Annotation ChiaVersion</td>
      <td><%= "#{@mining.chiaVersionAnno.id} (#{@mining.chiaVersionAnno.name})" %></td>
    </tr>
    <% if @setId %>
      <tr>
        <td>Set Id</td>
        <td><%= @setId %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if States::MiningType.new(@mining).isZdistFinder? %>
  <%= render 'mine_details_zdist_finder' %>
<% end %>
<!-- END: Mine details -->
