<h3><%= @mining.name %></h3>

<% if @isNewSession %>
  <% if States::MiningType.new(@mining).isZdistFinder? %>
    <%= link_to 'Setup mining', analysis_mining_setup_zdist_finder_path(Wicked::FIRST_STEP, mining_id: @mining.id), class: "button" %>
  <% elsif States::MiningType.new(@mining).isChiaVersionComparer? %>
    <%= link_to 'Setup mining', analysis_mining_setup_chia_version_comparer_path(Wicked::FIRST_STEP, mining_id: @mining.id), class: "button" %>
  <% elsif States::MiningType.new(@mining).isZdistDifferencer? %>
    <%= link_to 'Setup mining', analysis_mining_setup_zdist_differencer_path(Wicked::FIRST_STEP, mining_id: @mining.id), class: "button" %>
  <% elsif States::MiningType.new(@mining).isConfusionFinder? %>
    <%= link_to 'Setup mining', analysis_mining_setup_confusion_finder_path(Wicked::FIRST_STEP, mining_id: @mining.id), class: "button" %>
  <% elsif States::MiningType.new(@mining).isSequenceViewer? %>
    <%= link_to 'Setup mining', analysis_mining_setup_sequence_viewer_path(Wicked::FIRST_STEP, mining_id: @mining.id), class: "button" %>
  <% end %>
<% else %>
  <%= render 'mine_tracking' %>
  <%= render 'mine_details' %>
<% end %>

<%= link_to 'Back', analysis_minings_path, class: "button" %>
