<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th width="80px">Seasons</th>
      <th width="100px">Cellroti Synch</th>
      <th width="50px"></th>
      <th width="50px"></th>
      <th width="80px"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= league.description %></td>
        <td><%= league.seasons.count %></td>
        <td>
          <% if league.cellroti_id == nil %>
            <%= link_to 'Create', synch_stream_league_path(league, sport_id: @sport.id), class: "button small" %>
          <% else %>
            <%= link_to 'Update', synch_stream_league_path(league, sport_id: @sport.id), class: "button small" %>
          <% end %>
        </td>
        <td><%= link_to 'Show', [:stream, league] %></td>
        <td><%= link_to 'Edit', edit_stream_league_path(league, sport_id: @sport.id) %></td>
        <td><%= link_to 'Destroy', [:stream, league], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to 'New League', new_stream_league_path(sport_id: @sport.id), class: "button" %></td>
      <td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>
    </tr>
  </tbody>
</table>
