<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Comment</th>
      <th>Source type</th>
      <th>Source url</th>
      <th>Quality</th>
      <th>Format</th>
      <th>Length</th>
      <th>Runstatus</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Playback frame rate</th>
      <th>Detection frame rate</th>
      <th>Width</th>
      <th>Height</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= video.comment %></td>
        <td><%= video.source_type %></td>
        <td><%= video.source_url %></td>
        <td><%= video.quality %></td>
        <td><%= video.format %></td>
        <td><%= video.length %></td>
        <td><%= video.runstatus %></td>
        <td><%= video.start_time %></td>
        <td><%= video.end_time %></td>
        <td><%= video.playback_frame_rate %></td>
        <td><%= video.detection_frame_rate %></td>
        <td><%= video.width %></td>
        <td><%= video.height %></td>
        <td><%= link_to 'Show', [:khajuri_data, video] %></td>
        <td><%= link_to 'Edit', edit_khajuri_data_video_path(video) %></td>
        <td><%= link_to 'Destroy', [:khajuri_data, video], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_khajuri_data_video_path %>
