<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Chia Id</th>
      <th>Name</th>
      <th>Pretty name</th>
      <th>Description</th>
      <th>Edit/Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @chiaVersionDetectables.each do |cvd| %>
      <tr>
        <td><%= cvd.detectable.id %></td>
        <td><%= cvd.chia_detectable_id %></td>
        <td><%= cvd.detectable.name %></td>
        <td><%= cvd.detectable.pretty_name %></td>
        <td><%= cvd.detectable.description %></td>
        <td>
          <%= link_to 'Edit', edit_chia_data_chia_version_detectable_path(cvd, chia_version_detectable: {chia_version_id: @chia_version.id}) %> | 
          <%= link_to 'Destroy', [:chia_data, cvd], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
