<%= simple_form_for([:chia_data, @chia_version]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :comment %>
    <%= f.input :zDistThreshs do %>
      <%= text_field_tag 'zDistThreshs', "[0, 1.5, 3.0, 6.0, 9.0]" %>
    <% end %>
    <%= f.input :scales do %>
      <%= text_field_tag 'scales', "[0.4, 0.7, 1.0, 1.3, 1.6]" %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
