<h3>Chia Versions</h3>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th># Annotations</th>
      <th># Detectables | Edit</th>
      <th>Edit | Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @chia_versions.each do |chia_version| %>
      <tr>
        <td><%= chia_version.id %></td>
        <td><%= chia_version.name %></td>
        <td><%= chia_version.description %></td>
        <td>
          <%= link_to 'Show', show_annotations_chia_data_chia_version_path(chia_version) %>
          (<%= ::Annotation.where(chia_version_id: chia_version.id).count %>)
        </td>
        <td>
          <%= chia_version.chia_version_detectables.count %> |
          <%= link_to 'Edit', [:chia_data, chia_version] %>
        </td>
        <td>
          <%= link_to 'Edit', edit_chia_data_chia_version_path(chia_version) %> | 
          <%= link_to 'Destroy', [:chia_data, chia_version], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chia Version', new_chia_data_chia_version_path, class: "button" %>
