<h3>Chia Version details</h3>

<p>
  <strong>Name:</strong>
  <%= @chia_version.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chia_version.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @chia_version.comment %>
</p>

<p>
  <strong>Type:</strong>
  <%= @chia_version.ctype %>
</p>

<p>
  <strong>ZDist Thresholds:</strong>
  <%= @chiaSerializer.getSettingsZdistThresh %>
</p>

<p>
  <strong>Scales:</strong>
  <%= @chiaSerializer.getSettingsScales %>
</p>

<p>
  <strong>Detectables:</strong>
  <%= render 'detectables_show_table' %>
  <%= link_to 'Associate new detectable', all_addable_detectables_chia_data_chia_version_path(@chia_version), class: "button" %>
</p>

<p>
  <strong>Copy detectables from existing Chia Version:</strong>
  <%= render 'chia_versions_select_table' %>
  <div id="detectables_select_table"></div>
</p>

<%= link_to 'Back', chia_data_chia_versions_path, class: "button" %>
