<!-- BEGIN: Layout -->
<%= render :layout => 'retraining/iteration_setup/common/outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Import scores</div>
        </div>
        <div class="filter-content">

<!-- BEGIN: Content -->
<%= form_tag wizard_path, :method => :put do %>

<!-- BEGIN: Chia Version selected -->
<table>
  <thead>
    <tr><th colspan="3">Selected Chia Versions for Annotation</th></tr>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
      <% @chiaVersions.each do |chia_version| %>
        <tr>
          <td><%= chia_version.id %></td>
          <td><%= chia_version.name %></td>
          <td><%= chia_version.description %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<!-- END: Table -->

<div class="row">
  <div class="small-12 columns">
    <h3>Please use rake task to import scores of patches from all included chia versions. When all scores are imported, press next to select patches for this iteration of training.</h3>
    <table>
      <tr><td>
        [VM2] rm -rf /tmp/iteration && mkdir -p /tmp/iteration
      </td></tr>
      <tr><td>
        [VM2] cd /var/www/kheer
      </td></tr>
      <% if @iteration.minor_chia_version_id == 1 %>
        <!-- Major chia version only -->
        <tr><td>
          [GPU1] rm -rf /disk1/model_retraining/staging_area && mkdir -p /disk1/model_retraining/staging_area
        </td></tr>
        <tr><td>
          [VM2] rake importexport:export_annotation_for_chia chia_version_id='<%= @iteration.major_chia_version_id + 1 %>' output_folder=/tmp/iteration avoid_label=__AVOID__
        </td></tr>
        <tr><td>
          [VM2] cd /tmp
        </td></tr>
        <tr><td>
          [VM2] tar -zcvf iteration.tar.gz iteration
        </td></tr>
        <tr><td>
          [VM2] scp iteration.tar.gz ubuntu@gpu1:/disk1/model_retraining/staging_area
        </td></tr>
        <tr><td>
          [GPU1] cd /disk1/model_retraining/staging_area
        </td></tr>
        <tr><td>
          [GPU1] tar -zxvf iteration.tar.gz
        </td></tr>
        <tr><td>
          [GPU1] mkdir -p /disk1/model_retraining/annotations/production/<%= @iteration.major_chia_version_id + 1 %>
        </td></tr>
        <tr><td>
          [GPU1] mv iteration/* /disk1/model_retraining/annotations/production/<%= @iteration.major_chia_version_id + 1 %>
        </td></tr>
        <tr><td>
          [GPU1] [ ensure that video ids are present in /mnt/data/video_analysis/videos/kheer_idied/production ]
        </td></tr>
        <tr><td>
          [GPU1] cd /disk1/model_retraining
        </td></tr>
        <tr><td>
          [GPU1] ~/chia/ruby/retraining_create_patches_for_major_chia_version.rb <%= @iteration.major_chia_version_id + 1 %>.0
        </td></tr>
        <tr><td>
          [GPU1] ~/chia/ruby/retraining_evaluate_all_patches_with_chia_version.rb <%= @iteration.major_chia_version_id %>.0
        </td></tr>
      <% end %>
      <tr><td>
        [GPU1] scp /disk1/model_retraining/staging_area/combined_patch_buckets.tar.gz ubuntu@vm2:/tmp/iteration
      </td></tr>
      <tr><td>
        [VM2] cd /tmp/iteration
      </td></tr>
      <tr><td>
        [VM2] tar -zxvf combined_patch_buckets.tar.gz
      </td></tr>
      <tr><td>
        [VM2] cd /var/www/kheer/
      </td></tr>
      <tr><td>
        [VM2] RAILS_ENV=<%= Rails.env %> rake importexport:import_patch_bucket_folder iteration_id='<%= @iteration.id %>' patch_bucket_folder=/tmp/iteration/combined_patch_buckets
      </td></tr>
    </table>
  </div>
</div>

  <%= render 'retraining/iteration_setup/common/common_buttons' %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Layout -->
