<h3>Video Collection details</h3>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Id</td>
      <td><%= @video_collection.id %></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><%= @video_collection.title %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @video_collection.description %></td>
    </tr>
    <tr>
      <td>Comment</td>
      <td><%= @video_collection.comment %></td>
    </tr>
    <tr>
      <td>Source type</td>
      <td><%= @video_collection.source_type %></td>
    </tr>
    <tr>
      <td>Source url</td>
      <td><%= @video_collection.source_url %></td>
    </tr>
    <tr>
      <td>Quality</td>
      <td><%= @video_collection.quality %></td>
    </tr>
    <tr>
      <td>Format</td>
      <td><%= @video_collection.format %></td>
    </tr>
    <tr>
      <td>Playback frame rate</td>
      <td><%= @video_collection.playback_frame_rate %></td>
    </tr>
    <tr>
      <td>Detection frame rate</td>
      <td><%= @video_collection.detection_frame_rate %></td>
    </tr>
    <tr>
      <td>Width</td>
      <td><%= @video_collection.width %></td>
    </tr>
    <tr>
      <td>Height</td>
      <td><%= @video_collection.height %></td>
    </tr>
  </tbody>
</table>

<p>
  <strong>Videos:</strong>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Length</th>
        <th>URL</th>
        <th>Frame Num Start</th>
        <th>FrameNum End</th>
      </tr>
    </thead>

    <tbody>
      <% @video_collection.videos.each do |video| %>
        <tr>
          <td><%= video.id %></td>
          <td><%= video.length %></td>
          <td><%= video.video_url %></td>
          <td><%= video.frame_number_start %></td>
          <td><%= video.frame_number_end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>


<%= link_to 'Back', khajuri_data_video_collections_path, class: "button" %>
