<div class="row">
  <div class="small-12 columns">
    <h3>Video Id: <%= @videoId %>, ChiaVersionId: <%= @chiaVersionId %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">

<!-- BEGIN: Video details -->

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <th colspan="<%= @metricsVideo.zdistThreshs.count %>"># Localizations for zdist</th>
    </tr>
    <tr>
      <th>Det Id</th>
      <th>Det Name</th>
      <th># Annotations</th>
      <% @metricsVideo.zdistThreshs.each do |zdistThresh| %>
        <th><%= zdistThresh %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @metricsVideoDetails.each do |mvd| %>
      <tr>
        <td><%= mvd[:det_id] %></td>
        <td><%= mvd[:det_name] %></td>
        <td><%= mvd[:num_anno] %></td>
        <% mvd[:num_locs].each do |cnt| %>
          <td><%= cnt %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- END: Video details -->

    
  </div>
</div>
