
<!-- BEGIN: Layout -->
<%= render :layout => 'export/export_setup/common/outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Select ChiaVersions</div>
        </div>
        <div class="filter-content">

<!-- BEGIN: Content -->
<%= form_tag wizard_path, :method => :put do %>
  <%= render 'export/export_setup/common/all_chia_versions_table', tableTitle: 'For Localization', radioTagName: 'chia_version_id_loc', selectedChiaVersionId: @chiaVersionIdLoc %>
  <%= render 'export/export_setup/common/all_chia_versions_table', tableTitle: 'For Event Timing', radioTagName: 'chia_version_id_event', selectedChiaVersionId: @chiaVersionIdEvent %>
  <%= render 'export/export_setup/common/common_buttons' %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Layout -->