<!-- BEGIN: Layout -->
<%= render :layout => 'export/export_setup/common/outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Extract Frames</div>
        </div>
        <div class="filter-content">

<!-- BEGIN: Content -->
<%= form_tag wizard_path, :method => :put do %>

<div class="row">
  <div class="small-12 columns">
    <p>Please extract all frames and thumbnails for each video and save to export folder specified below. The extracted frames are expected to be in "extracted_frames" folder which has two subfolders: "frames" and "thumbnails". These should contain all images to send to cellroti. Do <b>NOT</b> click next until all frames have been put in their respective folders.</p>
    <p>The frames to extract are specified in <b>frames_to_extract.txt</b> file in export folder specified below.</p>
    <p>TODO: Use RabbitMq to send frame extraction details to khajuri and notify user in this page once that is complete.</p>
  </div>
</div>

<!-- BEGIN: Video selections -->
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Video Id</th>
          <th>Title</th>
          <th>Cellroti Video Id</th>
          <th width="50%">Export Folder</th>
        </tr>
      </thead>

      <tbody>
        <% @cellrotiVideoIdMap.each do |videoId, cellrotiVideoId| %>
          <% video = ::Video.find(videoId) %>
          <% outputFolder = Managers::MVideo.new(video).get_export_folder(@cellroti_export.id) %>
          <tr>
            <td><%= video.id %></td>
            <td><%= video.title %></td>
            <td><%= cellrotiVideoId %></td>
            <td><%= outputFolder %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<!-- END: Video selections -->

  <%= render 'export/export_setup/common/common_buttons' %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>  
<% end %>
<!-- END: Layout -->