<!-- BEGIN: Layout -->
<%= render :layout => 'export/export_setup/common/outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Extract Frames</div>
        </div>
        <div class="filter-content">

<!-- BEGIN: Content -->
<%= form_tag wizard_path, :method => :put do %>

<div class="row">
  <div class="small-12 columns">
    <p>Please extract all frames and thumbnails for each video and save to cellroti folder specified below. The cellroti folder is expected to have two subfolders: "frames" and "thumbnails". Do <b>NOT</b> click next until all frames have been put in their respective folders in cellroti.</p>
    <p>The frames to extract are specified in <b>frames_to_extract.txt</b> file in kheer export folder specified below.</p>
    <p>Alternatively, use chia script '~/chia/ruby/extract_frames_for_cellroti.rb' to extract multiple videos by using <%= "/tmp/#{@cellroti_export.id}" %> folder.</p>
    <p>Note: Cellroti expects frame/thumbnail files as [frame_number.jpg]</p>
    <p>TODO: Use RabbitMq to send frame extraction details to khajuri and notify user in this page once frames are put in cellroti.</p>
  </div>
</div>

<!-- BEGIN: Video selections -->
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Video Id</th>
          <th>Title</th>
          <th width="30%">Kheer Export Folder</th>
          <th width="30%">Cellroti Folder</th>
        </tr>
      </thead>

      <tbody>
        <% @cellrotiVideoIdMap.each do |videoId, cellrotiVideoId| %>
          <% video = ::Video.find(videoId) %>
          <% mvideo = Managers::MVideo.new(video) %>

          <% kheerOutputFolder = mvideo.get_export_folder(@cellroti_export.id) %>
          <% cellrotiOutputFolder = mvideo.get_cellroti_frame_folder(cellrotiVideoId) %>
          <tr>
            <td><%= video.id %></td>
            <td><%= video.title %></td>
            <td><%= kheerOutputFolder %></td>
            <td><%= cellrotiOutputFolder %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<!-- END: Video selections -->

  <%= render 'export/export_setup/common/common_buttons' %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>  
<% end %>
<!-- END: Layout -->