<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @detectable.name %>
</p>

<p>
  <strong>Pretty name:</strong>
  <%= @detectable.pretty_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @detectable.description %>
</p>

<p>
  <strong>Chia versions:</strong>
  <%= @detectable.chia_version.name %>
</p>

<%= link_to 'Edit', edit_chia_data_detectable_path(@detectable) %> |
<%= link_to 'Back', chia_data_detectables_path %>
