<p>
  <strong>Id:</strong>
  <%= @kheer_job.id %>
</p>

<p>
  <strong>Video:</strong>
  <%= @kheer_job.video_id %>
</p>

<p>
  <strong>Chia version:</strong>
  <%= @kheer_job.chia_version_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @kheer_job.state %>
</p>

<%= link_to 'Back', khajuri_data_kheer_jobs_path, class: "button" %>
