<!-- BEGIN: Right navigation -->
<ul class="right">

  <% if user_signed_in? %>

    <li class="has-dropdown">
      <a href="#">Analysis</a>
      <ul class="dropdown">
        <li id="analysis_minings">
          <%= link_to "Minings", analysis_minings_path %>
        </li>
      </ul>
    </li>

    <li class="has-dropdown">
      <a href="#">Export</a>
      <ul class="dropdown">
        <li id="stream_channels">
          <%= link_to "Channels", stream_channels_path %>
        </li>
        <li id="stream_sports">
          <%= link_to "Sports", stream_sports_path %>
        </li>
        <li id="export_cellroti_exports">
          <%= link_to "Export", export_cellroti_exports_path %>
        </li>
      </ul>
    </li>

    <li class="has-dropdown">
      <a href="#">Data</a>
      <ul class="dropdown">
        <li id="chia_data_detectables">
          <%= link_to "Detectables", chia_data_detectables_path %>
        </li>
        <li id="chia_data_chia_versions">
          <%= link_to "Chia Versions", chia_data_chia_versions_path %>
        </li>
        <li id="khajuri_data_videos">
          <%= link_to "Videos", khajuri_data_videos_path %>
        </li>
        <li id="khajuri_data_kheer_jobs">
          <%= link_to "Kheer Jobs", khajuri_data_kheer_jobs_path %>
        </li>
      </ul>
    </li>

    <li class="has-dropdown">
      <a href="#">Settings</a>
      <ul class="dropdown">
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <li id="devise_registrations"><%= link_to "Account Settings", edit_user_registration_path %></li>
      </ul>
    </li>

  <% else %>

    <li><%= link_to "Sign In", new_user_session_path %></li>

  <% end %>

</ul>
<!-- END: Right navigation -->
